<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>Dwarkashi&#8211consultancy-About</title>
</head>

<body>
    {{>navbar}}
    <section class="mainSection h-35 bg-img2"></section>
    <h1 class="t-head">About Us.</h1>
    <p class="bdrhead">&nbsp</p>

    <section class="aboutBox d-flex">
        <div class="aboutData font-Josefin">

            <p> <span> <strong> Established in the year 2017 Dwarkashi Consultancy is a team characterized by high
                        professional ethics & efficient services for its clients.</strong></span>
            </p>

            <p>
                <span> We have scaled great height in terms of our in size & stature in a short period of time. we have
                    developed our core team for providing all three services. Based on the primary understanding
                    of the market needs, we offer quality services at competitive prices to our clients.
                    We owe our success to our commitment to excellence by overhauling our processes and enhancing our
                    core competencies. The professional attitude of our experts has led to several liaisons with noted
                    companies, which has accelerated our companies growth.
                </span>
            </p>


            <p class="p-t-30"> <strong> Mission & Vision </strong></p>
            <p>
                Continuous strive to maintain excellence in serving the industry with customized best Services,
                training and services by our genuine committed and domain expert team.
                Service to industry and individual with finest business practices towards transformational, significant,
                visible and accelerated growth towards their own vision.
            </p>

           <p class="p-t-30"> <strong>Core Values</strong> </p>
            <ol>
                <li>Owners – Unity</li>
                <li>Client – Committed</li>
                <li>Team – Attitude</li>
                <li>Business – Purposeful</li>
                <li>Vendors – Resourceful</li>
            </ol>

        </div>
        <div class="aboutImg">
            <img src="img/teamimg1.jpg" alt="team.jpg">
        </div>
    </section>

    {{>footer}}
    
    {{>scripts}}
</body>

</html>