<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>Dwarkashi&nbspConsultancy-Services</title>
</head>

<body>
    {{>navbar}}
    <section class="mainSection h-35 bg-img5" id="main-section"></section>
    <h1 class="t-head" id="tHead">Anycasting Technology</h1>
    <p class="bdrhead">&nbsp</p>

    <section id="anycast-service-section">
        <div class="anycast-info d-flex">
            <div class="anycast-data">
                <p>FUTURE ORIENTED TECHNOLOGY
                    GATING DESIGN SOFTWARE
                    DEVELOPMENT OF CASTING SIMULATION
                    SOFTWARE
                    TECHNICAL CONSULTANCY SERVICES</p>
            </div>
            <div class="anycast-img">
                <img src="img/highGas.jpg" alt="img/highGas.jpg">
            </div>
        </div>

        <div class="typebox">
            <h2>ANYCASTING IS A PROVEN TECHNOLOGY FOR</h2>
            <div class="typediv d-flex">
                <ul>
                    <li>HIGH PRESSURE DIE CASTING</li>
                    <li>LOW PRESSURE DIE CASTING</li>
                    <li>SAND CASTING</li>
                    <li>INVESTMENT CASTING</li>
                </ul>
                <ul>
                    <li>METAL MOLD CASTING</li>
                    <li>INGOT CASTING</li>
                    <li>CENTRIFUGAL CASTING</li>
                    <li>TILT CASTING</li>
                </ul>
            </div>
        </div>

        <div class="keyfeaturebox">
            <h2>KEY FEATURE OF ANYCASTING</h2>
            <ol>
                <li>SIGAP - Shrinkage Induced Gas Porosity</li>
                <li>Multi Phase Vacuum in High Pressure Die Casting</li>
                <li>Die Life - Soldering and Die Erosion</li>
                <li>Deformation for Squeeze pin and Ejector Pin in High Pressure Die Casting</li>
                <li>Material Property Generator</li>
                <li>Microstructure and Mechanical Properties for Cast Iron</li>
                <li>Shell Heat transfer(Radiation) in Investment Casting</li>
                <li>Inoculation Practice</li>
                <li>Database for Exothermic Sleeve, Filters etc.</li>
                <li>Auto Report, Real Post to Power point</li>
            </ol>
        </div>

        {{!-- <div class="anycastintro">
            <h2>Anycasting Brief Introduction</h2>
            <p>AnyCasting Software Co. Ltd., has developed and polished AnyCasting
                Software – a top tier casting simulation program, over 20 years. In
                2019, AnyCasting received award from NADCA. Currently we are
                working with companies manufacturing automobiles, ships, heavy
                material industries, and electronic manufacturing companies having
                sold over 600 copies worldwide solving and providing technical
                consulting for projects over 470 times all over the world. AnyCasting
                also provides AnyDesign and AnyTx software for method design and
                thermal analysis respectively.
                Head Quarter of AnyCasting is based in Seoul, South Korea. Dwarkashi
                Consultancy is authorized distributor of AnyCasting software in India.
                Dwarkashi Consultancy is based in Pune India.</p>
        </div> --}}
        <div class="Head">
            <h4><a href="/magma-service" class="anchor">MAGMA Methodology</a>
            <a href="/iso-service" class="anchor">ISO Certification</a>
            <a href="/creo-service" class="anchor">Creo Training</a></h4>
        </div>
    </section>

    {{>footer}}


    {{>scripts}}
</body>

</html>