<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>Dwarkashi&nbspConsultancy</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    {{>navbar}}
    <section class="mainSection bg-img h-85"></section>
    <section class="textSection">
        <h1>Our core principles shape our efforts.</h1>
        <p class="font-cursive">" We are dedicated to our clients, and they benefit from our success. "</p>
    </section>
    <section class="overview font-roboto-slab">overview</section>
    <section class="container">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="img/about-us.jpg" alt="img/logo1.png">
                    <h3>About Us</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Service to industry and individual with finest business practices towards transformational,
                        significant,
                        visible and accelerated growth towards their own vision.</p>
                    <a href="/about">view</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="img/iso_9001_certification.jpg" alt="img/iso-cert.jpg">
                    <h3>Services</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>We provide most important services which are necessary for industry and also you want a job in
                        MNC we provide trainings for most important softwares.</p>
                    <a href="/services">view</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="img/why-choose-us.jpg" alt="img/DCLOGO2.png">
                    <h3>Why Us</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>DC Consultants is a preferred talent acquisition partner to Multinationals and leading Indian
                        businesses. This combined with our role as trusted consultancy for Indian professionals
                        translates into our core capability </p>
                    <p>– Building Careers.</a>
                </div>
            </div>
        </div>
    </section>

    <section class="review-section">
        <div class="container">
            <div class="section-title">
                <h2>Testimonials</h2>
                <span class="section-separator"></span>
                <p>"Best service provider in iSO certification and Training field".</p>
            </div>
        </div>
        <div class="testimonials-carousel-wrap">
            <div class="listing-carousel-button listing-carousel-button-next"><i class="fa fa-caret-right"
                    style="color: #fff"></i></div>
            <div class="listing-carousel-button listing-carousel-button-prev"><i class="fa fa-caret-left"
                    style="color: #fff"></i></div>
            <div class="testimonials-carousel">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="testi-item">
                                <div class="testi-avatar"><img src="img/21.jpg"></div>
                                <div class="testimonials-text-before"><i class="fa fa-quote-right"></i></div>
                                <div class="testimonials-text">
                                    <div class="listing-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <p>It was an amazing experience with Dwarkashi consultancy .The guys where amazing.
                                        The team at Dwarkashi Consultancy is quite proficient and efficient. The Company
                                        offers wide range of HR services.
                                    </p>
                                    <a href="#" class="text-link"></a>
                                    <div class="testimonials-avatar">
                                        <h3>Asar Enginering</h3>
                                        <h4>Mumbai</h4>
                                    </div>
                                </div>
                                <div class="testimonials-text-after"><i class="fa fa-quote-left"></i></div>
                            </div>
                        </div>

                        <!--second--->
                        <div class="swiper-slide">
                            <div class="testi-item">
                                <div class="testi-avatar"><img src="img/6.jpg"></div>
                                <div class="testimonials-text-before"><i class="fa fa-quote-right"></i></div>
                                <div class="testimonials-text">
                                    <div class="listing-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <p>It was a privilege to receive services from this Organization. The Company is
                                        committed to it's values and ethics. The services offered are versatile and also
                                        cost effective.</p>
                                    <a href="#" class="text-link"></a>
                                    <div class="testimonials-avatar">
                                        <h3>Sidhant Automotive Pvt Ltd</h3>
                                        <h4>Pune</h4>
                                    </div>
                                </div>
                                <div class="testimonials-text-after"><i class="fa fa-quote-left"></i></div>
                            </div>
                        </div>
                        <!--third-->

                        <div class="swiper-slide">
                            <div class="testi-item">
                                <div class="testi-avatar"><img src="img/4.jpg"></div>
                                <div class="testimonials-text-before"><i class="fa fa-quote-right"></i></div>
                                <div class="testimonials-text">
                                    <div class="listing-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <p>"We have been working with DC for long. They understand Unilazer businesses and
                                        our requirements extremely well. They have dedicated teams to service all
                                        sectors like ISO certification, MAGMA and CREO training that are responsive. We
                                        wish to nurture this relationship going forward."</p>
                                    <a href="#" class="text-link"></a>
                                    <div class="testimonials-avatar">
                                        <h3>SV industries</h3>
                                        <h4>Pune</h4>
                                    </div>
                                </div>
                                <div class="testimonials-text-after"><i class="fa fa-quote-left"></i></div>
                            </div>
                        </div>

                        <!--fourth-->
                        <div class="swiper-slide">
                            <div class="testi-item">
                                <div class="testi-avatar"><img src="img/3.jpg"></div>
                                <div class="testimonials-text-before"><i class="fa fa-quote-right"></i></div>
                                <div class="testimonials-text">
                                    <div class="listing-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <p>DC Consultancy did an excellent job in carrying out a comprehensive compensation
                                        benchmarking exercise for the valuation profession. We were very impressed by
                                        the breadth and depth of information they were able to pull together in a very
                                        short period of time.</p>
                                    <a href="#" class="text-link"></a>
                                    <div class="testimonials-avatar">
                                        <h3>Hightech Technology</h3>
                                        <h4>Pune</h4>
                                    </div>
                                </div>
                                <div class="testimonials-text-after"><i class="fa fa-quote-left"></i></div>
                            </div>
                        </div>
                        <!--fifth-->
                        <div class="swiper-slide">
                            <div class="testi-item">
                                <div class="testi-avatar"><img src="img/21.jpg"></div>
                                <div class="testimonials-text-before"><i class="fa fa-quote-right"></i></div>
                                <div class="testimonials-text">
                                    <div class="listing-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <p>"DC has been a strategic partner in helping us set up a great start-up team. But more importantly how our organization wanted to trained in Magma-soft its unbelivable."</p>
                                    <a href="#" class="text-link"></a>
                                    <div class="testimonials-avatar">
                                        <h3>Atharva Foundries PVT LTD </h3>
                                        <h4>Wai</h4>
                                    </div>
                                </div>
                                <div class="testimonials-text-after"><i class="fa fa-quote-left"></i></div>
                            </div>
                        </div>
                        <!--testi end-->

                    </div>
                </div>
            </div>

            <div class="tc-pagination"></div>
        </div>
    </section>

    {{>footer}}

    {{>scripts}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>
    <script src="js/script-review.js"></script>
</body>

</html>