<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>Dwarkashi&nbspConsultancy-Services</title>
</head>

<body>
    {{>navbar}}
    <section class="mainSection h-35 bg-img1" id="main-section"></section>
    <h1 class="t-head f-23" id="tHead">MAGMA-Soft Methodology</h1>
    <p class="bdrhead">&nbsp</p>


    <section id="magma-service-section" class="font-Josefin">
       
        <div class="magmaInfo d-flex">
            <div class="magmaInfoCard">
                <h3>MAGMA Project</h3>
                <ul>
                    <li>Important of data Saving. </li>
                    <li>Project Naming and Finding.</li>
                    <li>Less data size for old projects.</li>
                </ul>
            </div>
            <div class="magmaInfoCard">
                <h3>MAGMA Geometry</h3>
                <ul>
                    <li>Import the geometry (STL or .stp) with complete Methoding design</li>
                    <li>Assign the Materials Like Casting, Riser, Runner, Gate , Mold box, chills, sleeves etc…</li>
                    <li>Making Cad in Magma-soft</li>
                </ul>
            </div>
            <div class="magmaInfoCard">
                <h3>MAGMA-Meshing</h3>
                <ul>
                    <li>Define the meshing elements size depends on minimum wall thickness </li>
                    <li>Check Meshing accuracy and time saving </li>
                </ul>
            </div>
            <div class="magmaInfoCard">
                <h3>MAGMA-Material Definition</h3>
                <ul>
                    <li> Assign the materials like composition of Casting materials, mold materials, sleeves, chills
                        etc….</li>
                    <li> Pouring time, temp and other properties </li>
                </ul>
            </div>
            <div class="magmaInfoCard">
                <h3>MAGMA- Simulation</h3>
                <ul>
                    <li>Run The Simulation</li>
                    <li>Batch Simulation</li>
                    <li>License in core </li>
                </ul>
            </div>
            <div class="magmaInfoCard">
                <h3>MAGMA- Results </h3>
                <strong>Verify the simulation results:</strong>
                <ol>
                    <li>Flow analysis</li>
                    <li>Solidification Analysis</li>
                    <li>Microstructure analysis</li>
                    <li>Material properties</li>
                </ol>
            </div>
        </div>
        <div class="magmaResults d-flex">
            <div class="magmaResultCard">
                <h3>1. Metal Flow Analysis</h3>
                <ul>
                    <li>Temperature During Flow</li>
                    <li>Filling Temperature</li>
                    <li>Filling time</li>
                    <li>Air entrapment</li>
                    <li>Flow Velocity</li>
                    <li>Mold Erosion</li>
                    <li>Sand Inclusion </li>
                    <li>Flow Trace </li>
                </ul>
            </div>
            <div class="magmaResultCard">
                <h3>2. Solidification Analysis</h3>
                <ul>
                    <li> Fraction of Liquid</li>
                    <li>Fraction of Solid</li>
                    <li>Temperature during solidification</li>
                    <li>Feed Modulus </li>
                    <li>Hot Spot</li>
                    <li>Porosity</li>
                    <li>Niyama Criterion </li>
                    <li>Solidification time</li>
                    <li>Cooling rate </li>

                </ul>
            </div>
            <div class="magmaResultCard">
                <h3>3. Micro Structure Analysis</h3>
                <ul>
                    <li>Eutectic cell size </li>
                    <li>Under cooling graphite</li>
                    <li>Fraction of austenite</li>
                    <li>Fraction of eutectic phase</li>
                </ul>
            </div>
            <div class="magmaResultCard">
                <h3>4. Materials properties</h3>
                <ul>
                    <li>Minimum Tensile strength</li>
                    <li>Young’s modulus</li>
                    <li>Hardness Pearlite</li>
                </ul>
            </div>
        </div>
    </section>
     <div class="Head">
            <h4><a href="/iso-service" class="anchor">ISO Certification</a>
            <a href="/creo-service" class="anchor">Creo Training</a>
            <a href="/casting-service" class="anchor">Anycast Technology</a></h4>
        </div>


    {{>footer}}


    {{>scripts}}
</body>

</html>