<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>Dwarkashi&#8211consultancy-Services</title>
</head>

<body>
    {{>navbar}}
    <section class="mainSection h-35 bg-img1" id="main-section"></section>
    <h1 class="t-head" id="tHead">Our Services</h1>
    <p class="bdrhead">&nbsp</p>

    <section id="serviceSection" class="service-section">
        <div class="serviceBox d-flex">

            <div class="service-card font-Josefin">
                <h4>ISO Certification</h4>
                <img src="img/iso2.jpg" alt="img/logo1.png">
                <p> The International Organization for Standardization (ISO). Each ISO standard has its own
                    benefits.&nbsp;&nbsp;&nbsp;<a href="#iso-service-section" class="anchor"><strong> For
                            More</strong></a></p>
            </div>

            <div class="service-card font-Josefin">
                <h4>Magma-soft Methodology</h4>
                <img src="img/magma.jpg" alt="img/logo1.png">
                <p>Training: Magma-soft is Casting Simulation software.<a href="#magma-service-section"
                        class="anchor"><strong> For More</strong></a></p>
            </div>

            <div class="service-card font-Josefin">
                <h4>Creo Training</h4>
                <img src="img/creo1.png" alt="img/logo1.png">
                <p>Training: Creo is a Design software for Mechanical , civil and Electrical feilds<a
                        href="#creo-service-section" class="anchor"><strong> For More</strong></a></p>
            </div>
        </div>
    </section>

    <section id="iso-service-section" class="font-Josefin">
        <div class="Head">
            <h1>ISO Certification</h1>
            <h4><a href="#magma-service-section" class="anchor">MAGMA Methodology</a>
            <a href="#creo-service-section" class="anchor">Creo Training</a></h4>
        </div>
        <div class="isoInfo d-flex">
            <div class="isoBen">
                <h2>benefits of ISO certification</h2>
                <ul>
                    <li>Incresed Business</li>
                    <li>Customer friendly</li>
                    <li>Smooth operation</li>
                    <li>International standards</li>
                    <li>Absence of errors</li>
                    <li>Incresed accuracy</li>
                    <li>Proper documentation and records</li>
                    <li>Trust earned from clients</li>
                </ul>
            </div>
            <div class="isoImg">
                <img src="img/iso-use.jpg" alt="">
            </div>
        </div>
    </section>

    <section id="magma-service-section" class="font-Josefin">
        <div class="Head">
            <h1 class="m-t-40">MAGMA-Soft Methodology</h1>
            <h4><a href="#iso-service-section" class="anchor">ISO Certification</a>
            <a href="#creo-service-section" class="anchor">Creo Training</a></h4>
        </div>
        <div class="magmaInfo d-flex">
            <div class="magmaInfoCard">
                <h3>MAGMA Project</h3>
                <ul>
                    <li>Important of data Saving. </li>
                    <li>Project Naming and Finding.</li>
                    <li>Less data size for old projects.</li>
                </ul>
            </div>
            <div class="magmaInfoCard">
                <h3>MAGMA Geometry</h3>
                <ul>
                    <li>Import the geometry (STL or .stp) with complete Methoding design</li>
                    <li>Assign the Materials Like Casting, Riser, Runner, Gate , Mold box, chills, sleeves etc…</li>
                    <li>Making Cad in Magma-soft</li>
                </ul>
            </div>
            <div class="magmaInfoCard">
                <h3>MAGMA-Meshing</h3>
                <ul>
                    <li>Define the meshing elements size depends on minimum wall thickness </li>
                    <li>Check Meshing accuracy and time saving </li>
                </ul>
            </div>
            <div class="magmaInfoCard">
                <h3>MAGMA-Material Definition</h3>
                <ul>
                    <li> Assign the materials like composition of Casting materials, mold materials, sleeves, chills
                        etc….</li>
                    <li> Pouring time, temp and other properties </li>
                </ul>
            </div>
            <div class="magmaInfoCard">
                <h3>MAGMA- Simulation</h3>
                <ul>
                    <li>Run The Simulation</li>
                    <li>Batch Simulation</li>
                    <li>License in core </li>
                </ul>
            </div>
            <div class="magmaInfoCard">
                <h3>MAGMA- Results </h3>
                <strong>Verify the simulation results:</strong>
                <ol>
                    <li>Flow analysis</li>
                    <li>Solidification Analysis</li>
                    <li>Microstructure analysis</li>
                    <li>Material properties</li>
                </ol>
            </div>
        </div>
        <div class="magmaResults d-flex">
            <div class="magmaResultCard">
                <h3>1. Metal Flow Analysis</h3>
                <ul>
                    <li>Temperature During Flow</li>
                    <li>Filling Temperature</li>
                    <li>Filling time</li>
                    <li>Air entrapment</li>
                    <li>Flow Velocity</li>
                    <li>Mold Erosion</li>
                    <li>Sand Inclusion </li>
                    <li>Flow Trace </li>
                </ul>
            </div>
            <div class="magmaResultCard">
                <h3>2. Solidification Analysis</h3>
                <ul>
                    <li> Fraction of Liquid</li>
                    <li>Fraction of Solid</li>
                    <li>Temperature during solidification</li>
                    <li>Feed Modulus </li>
                    <li>Hot Spot</li>
                    <li>Porosity</li>
                    <li>Niyama Criterion </li>
                    <li>Solidification time</li>
                    <li>Cooling rate </li>

                </ul>
            </div>
            <div class="magmaResultCard">
                <h3>3. Micro Structure Analysis</h3>
                <ul>
                    <li>Eutectic cell size </li>
                    <li>Under cooling graphite</li>
                    <li>Fraction of austenite</li>
                    <li>Fraction of eutectic phase</li>
                </ul>
            </div>
            <div class="magmaResultCard">
                <h3>4. Materials properties</h3>
                <ul>
                    <li>Minimum Tensile strength</li>
                    <li>Young’s modulus</li>
                    <li>Hardness Pearlite</li>
                </ul>
            </div>
        </div>
    </section>

    <section id="creo-service-section">
        <div class="Head">
            <h1 class="m-t-40">CREO Online Training</h1>
            <h4><a href="#magma-service-section" class="anchor">MAGMA Methodology</a>
            <a href="#iso-service-section" class="anchor">ISO Certification</a></h4>
        </div>
        <div class="creoInfo d-flex font-Josefin">
            <div class="creoData">
                <h2>CREO PARAMETRIC ONLINE TRAINING COURSE CONTENT</h2>
                <ol>
                    <li> File Management</li>
                    <li>Tool Introduction</li>
                    <li>Use of CAD toll command for different product's</li>
                    <li>Sketch Commands</li>
                    <li>Part Modelling</li>
                    <li>Surfacing</li>
                    <li>Assembly's</li>
                    <li>Basic sheet metal</li>
                    <li>Manufacturing core cavity</li>
                    <li>Extractions</li>
                    <li>Data Doctor</li>
                    <li>Data transfer one software to another software</li>
                    <li>Proe CREO theory</li>
                    <li>Basic GD & T</li>
                    <li>Part Test</li>
                    <li>Soft skill for interview as per industries requirement</li>
                    <li>Drafting</li>
                </ol>
            </div>
            <div class="creoVideo">
                <video width="400" controls>
                    <source src="img/creo.mp4" type="video/mp4">
                </video>
            </div>
        </div>
        <div class="Head">
            <h4><a href="#main-section"> Top</a></h4>
        </div>
    </section>

    {{>footer}}


    {{>scripts}}
</body>

</html>