<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>Dwarkashi&nbspConsultancy-Services</title>
</head>

<body>
    {{>navbar}}
    <section class="mainSection h-35 bg-img1" id="main-section"></section>
    <h1 class="t-head" id="tHead">Our Services</h1>
    <p class="bdrhead">&nbsp</p>

    <section id="serviceSection" class="service-section">
        <div class="serviceBox d-flex">

            <div class="service-card font-Josefin">
                <h4>ISO Certification</h4>
                <img src="img/iso2.jpg" alt="img/logo1.png">
                <p> The International Organization for Standardization (ISO). Each ISO standard has its own
                    benefits.&nbsp;&nbsp;&nbsp;<a href="/iso-service" class="anchor"><strong> For
                            More</strong></a></p>
            </div>

            <div class="service-card font-Josefin">
                <h4>Magma-soft Methodology</h4>
                <img src="img/magma.jpg" alt="img/logo1.png">
                <p>Training: Magma-soft is Casting Simulation software.<a href="/magma-service"
                        class="anchor"><strong> For More</strong></a></p>
            </div>

            <div class="service-card font-Josefin">
                <h4>Creo Training</h4>
                <img src="img/creo1.png" alt="img/logo1.png">
                <p>Training: Creo is a Design software for Mechanical , civil and Electrical feilds<a
                        href="/creo-service" class="anchor"><strong> For More</strong></a></p>
            </div>

             <div class="service-card font-Josefin">
                <h4>Casting Simulation</h4>
                <img src="img/anycast1.png" alt="img/logo1.png">
                <p> Casting simulation by any cast simulation software
                End to end solution of casting, gating, procees Design.&nbsp;&nbsp;&nbsp;<a
                        href="/casting-service" class="anchor"><strong> For More</strong></a></p>
            </div>
        </div>
    </section>


    {{>footer}}


    {{>scripts}}
</body>

</html>