<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>Dwarkashi&nbspConsultancy-Team</title>
    <link rel="stylesheet" href="css/style-team.css">
</head>

<body>
    {{>navbar}}
    <section class="mainSection h-35 bg-img4"></section>
    <h1 class="t-head">Team</h1>
    <p class="bdrhead">&nbsp</p>

      <section class="team-section">
        <div class="card">
            <div class="content">
                <div class="imgBx">
                    <img src="img/21.jpg" alt="">
                </div>
                <div class="contentBx">
                    <h4>Bhushan Jadhav</h4>
                    <h5>Director</h5>
                </div>
                <div class="sci">
                    <a href="https://www.facebook.com/bhushjadhav" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="https://instagram.com/bhushan.jadhav333?utm_medium=copy_link" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="content">
                <div class="imgBx">
                    <img src="img/w3.jpeg" alt="">
                </div>
                <div class="contentBx">
                    <h4>Swati Jadhav</h4>
                    <h5>CEO</h5>
                </div>
                <div class="sci">
                    <a href="https://www.facebook.com/swatipatil515" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="https://instagram.com/swatijadhav85?utm_medium=copy_link" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
       
        <div class="card">
            <div class="content">
                <div class="imgBx">
                    <img src="img/w6.jpeg" alt="">
                </div>
                <div class="contentBx">
                    <h4>Rahul Jadhav</h4>
                    <h5>Consultant</h5>
                </div>
                <div class="sci">
                    <a href="https://www.facebook.com/rahul.jadhav.1048" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="https://instagram.com/rahul_jadhav3333?utm_medium=copy_link" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        
        {{!-- <div class="card">
            <div class="content">
                <div class="imgBx">
                    <img src="img/w5.jpg" alt="">
                </div>
                <div class="contentBx">
                    <h4>Vaibhav Desale</h4>
                    <h5>Web Designing</h5>
                </div>
                <div class="sci">
                    <a href="https://www.facebook.com/vaibhav.desale.39" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/vaibhav_desale1302?r=nametag" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/VaibhavDesale11?t=Xhe-9UwGQu358Y0e1xRTXw&s=08"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </div>
            </div>
        </div> --}}

    </section>

    {{>footer}}


    {{>scripts}}
</body>

</html>