<footer class="font-roboto-slab">
    <div class="footer-content ">
        <h3>Dwarkashi Consultancy And Training Institute</h3>
        <p> "The journey is the Reward" &nbsp;&nbsp; Find out for yourself. Call us today. <a href="/contact"><img src="img/cont.png" alt=""></a>  </p>
        <ul class="socials">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy;2021 dwarkashiConsultancy. <span style="font-size: 10px;">designed by vaibhav desale</span></p>
    </div>
</footer>