<nav class="navigation">
    <a href="/">
        <div class="logoDiv pointer">
            <img src="img/DCLOGO2.png" alt="consulting.png">
        </div>
    </a>
        <ul class="font-roboto-slab" id="ul">
            <li><a href="/" class="anchor">Home</a></li>
            <li><a href="/services" class="anchor">Services</a></li>
            <li><a href="/about" class="anchor">About</a></li>
            <li><a href="/team" class="anchor">Team</a></li>
            <li><a href="/contact" class="anchor">Contact Us</a></li>
        </ul>
     <button class="navigation-toggler">
         <span></span>
     </button>
</nav>