<nav class="navigation">
    <a href="/">
        <div class="logoDiv pointer">
            <img src="img/DCLOGO2.png" alt="consulting.png">
        </div>
    </a>
    <ul class="font-roboto-slab" id="ul">
        <li><a class="anchor" href="/">Home</a></li>
        <li><a href="/services" class="anchor">Services</a>
            <ul class="subServices">
                <li><a href="/iso-service" class="anchor">ISO Certification</a></li>
                <li><a href="/magma-service" class="anchor">Magma-soft Technology</a></li>
                <li><a href="/creo-service" class="anchor">Creo Training</a></li>
                <li><a href="/casting-service" class="anchor">Any Casting</a></li>
            </ul>
        </li>
        <li><a href="/about" class="anchor">About</a></li>
        <li><a href="/team" class="anchor">Team</a></li>
        <li><a href="/contact" class="anchor">Contact Us</a></li>
    </ul>
    <button class="navigation-toggler">
        <span></span>
    </button>

</nav>