/* html{
    scroll-behavior: smooth;
} */
.serviceBox{
    margin: 75px;
    padding: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.service-card{
    padding: 0px 23px;
    margin: 25px 25px;
    width: 474px;
    height: 387px;
    border: 2px #6a05058c solid;
    /* box-shadow: 2px 3px 18px rgb(27, 26, 26); */
    border-radius: 10px;
}
.service-card a:hover{
    transition: color .3s ease;
    color: rgb(1, 153, 153);
}
.service-card h4{
    font-size: 28px;
    text-align: center;
    padding:10px 0px;
    font-family: var(--font9);
    color: saddlebrown;
}
.service-card img{
    height: 240px;
}

.service-card p{
    text-align: center;
    font-size: 21px;
    padding-top: 5px;
    font-family: var(--font9);
}


.Head{
    padding-bottom: 13px;
}
.Head h1{
    text-align: center;
    font-size: 2.6rem;
    text-shadow: 1px 2px 4px #010c07;
    font-family: 'Roboto Slab';

}
.Head h4{
    text-align: center;
    font-family: 'Roboto Slab';
}
.Head h4 a{
    padding: 2px 5px;
    text-decoration: underline;
    color: rgb(10, 131, 201);
}
.Head h4 a:hover{
    text-decoration: none;
}

/* // iso service section */
#iso-service-section{
    padding: 60px;
}
.isoInfo{
    justify-content: space-between;
}
.isoImg img{
    height: 250px;
}
.isoBen{
    margin: 0px 0px 0px 82px;
}
.isoBen h2{
    font-size: 29px;
    padding-bottom: 14px;
    font-family: var(--font9);
    color: teal;
}
.isoBen ul{
    list-style: circle;
    padding-left: 40px;
    font-size: 24px;
    line-height: 46px;
    color: gray;
    font-family: 'Alice';
}

/* //magma soft section  */
.magmaInfo{
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5rem;
}
.magmaInfoCard{
    width: 340px ;
    margin: 0px 50px;
    margin-bottom: 33px;
    line-height: 35px;
    font-size: 20px;
    border-radius: 12px;
    box-shadow: 8px 15px 12px #ac82b540;
}
.magmaInfoCard h3{
    padding: 5px 0px 0px 20px;
    font-family: var(--font3);
    color: teal;
}
.magmaInfoCard ol{
    padding-left: 23px;
  
}
 .magmaInfoCard li{
      font-family: 'Alice';
    color: gray; 
} 
.magmaInfoCard ul{
    padding-left: 23px;
    list-style: circle;
}
.magmaResults{
    padding: 47px;
}
.magmaResultCard{
    width: 340px ;
    margin: 0px 50px;
    margin-bottom: 33px;
    line-height: 35px;
    font-size: 18px;
}
.magmaResultCard h3{
    font-family: var(--font3);
    color: teal;
}
.magmaResultCard ul{
    padding-left: 23px;
    list-style: circle;
    font-family: 'Alice';
    color: gray;
}

/* //creo section  */
.creoInfo{
    justify-content: space-between;
    padding: 10px 90px;
    margin-top: 3.5rem;
}
.creoData ol{
    padding-left: 40px;
    font-size: 22px;
    line-height: 37px;
    padding-top: 10px;
    font-family: 'Alice';
    color: gray;
}
.creoData h2{
    font-family: var(--font9);
    color: teal;
}
.creoVideo video{
    border-radius: 10px;
}

/* //anycast */

/* #anycast-service-section{
     height: 44rem; 
     background-color: #00ffd71a; 
} */
.anycast-info{
    margin-top: 5rem;
}
.anycast-img{
    margin: 0px 59px 0px 0px;
}
.anycast-data p{
    padding-top: 3rem;
    line-height: 2.5rem;
    font-size: 29px;
    color: olive
}
.anycast-data{
    padding: 0px 8rem;
    text-align: center;
    font-family: var(--font3);
    
}
.typebox{
    margin: 2.5rem 0px;
    background-image: linear-gradient(202deg, #86eddec4, transparent);
    border-radius: 63% 41%;
}
.typebox h2{
    text-align: center;
    color: #016666;
    margin: 4.5rem 0px 1.5rem 0px;
    padding-top: 1.3rem;
}
.typediv{
    line-height: 2.5rem;
    padding: 15px 0px;
    font-family: 'Alice';
    color: #4a4848;
    justify-content: space-evenly;
    font-size: 23px;
    padding-bottom: 1.2rem;
}
.keyfeaturebox{
    margin: 4rem 0px 3rem 0px;
    background-image: linear-gradient(179deg, #b1b0af08, #aaaba952);
}
.keyfeaturebox h2{
    font-family: var(--font9);
    padding: 25px 0px 0px 5rem;
    color: teal;
    font-size: 27px;
}

.keyfeaturebox ol{
    font-family: var(--font7);
    line-height: 3rem;
    padding: 2rem 5rem;
    color: #665032;
    font-size: 24px;
}
.anycastintro{
    line-height: 3rem;
    color: #4c4545;
    text-align: center;
    font-size: 22px;
    margin-bottom: 3rem;
    font-family: var(--font4);
    padding: 1px 14rem;
}
.anycastintro h2{
    padding-bottom: 20px;
}


/* //For Responsive website  */

@media (max-width: 1300px){
    .service-card img {
        height: 200px;
    }
    .service-card{
        width: 400px;
    }
}

@media(max-width:1100) {
    .anycast-data p {
        padding-top: 1rem;
        font-size: 21px;
    }
    .anycast-data {
        padding: 0px 3rem;
    }
}

@media (max-width: 870px){
    .serviceBox{
        align-items: center;
        flex-direction: column;
    }
    .isoInfo{
        flex-direction: column;
        align-items: center;
    }
    .isoBen{
        align-items: center;
        margin: 0px;
    }
    .isoBen ul{
        font-size: 22px;
        line-height: 35px;
        padding-bottom: 18px;
    }
    .isoImg img{
        height: 100%;
        width: 100%;
    }
    .magmaInfo{
        flex-direction: column;
        align-items: center;
    }
    .magmaResults {
        padding: 0px;
        flex-direction: column;
        margin-left: 2rem;
    }
    .Head h1{
        font-size: 2.47rem;
    }
    .creoInfo{
        flex-direction: column-reverse;
        padding: 10px 0;
        margin-top: auto;
    }
    .creoVideo{
        padding-bottom: 40px;
    }
    .creoData ol{
        font-size: 16px;
        line-height: 28px;
    }
    .creoData h2 {
        margin-left: 1rem;
    }
    .isoImg{
        height: 198px;
    }
    .anycast-img{
        display: none;
    }
    .anycast-img img{
        display: none;
    }
    .anycast-data p {
        padding-top: 3rem;
        /* line-height: 2.5rem; */
        font-size: 18px;
        color: olive;
    }
    .anycast-data{
        padding: 0px; 
    }
    .anycast-info {
        margin-top: 0;
    }
    .typebox{
        border-radius: 24%;
    }
    .typebox h2{
        font-size: 20px;
        margin: 4.5rem 0px 1rem 0px;
    }
    .typediv{
        padding: 12px 0px;
        font-size: 14px;
    }
    .keyfeaturebox ol {
        padding: 2rem 2rem;
        font-size: 17px;
        line-height: 2rem;
    }
    .keyfeaturebox h2 {
        padding: 18px 0px 0px 2rem;
        font-size: 22px;
    }
    .anycastintro {
        line-height: 23px;
        font-size: 15px;
        padding: 0px; 
    }
}

@media (max-width:816px){
    .service-card img {
        height: 117px;
    }
    .service-card h4{
        font-size: 23px;
    }
    .serviceBox{
        margin: 0px;
        padding: 26px 0px;
    }
    .service-card p{
        font-size: 17px;
    }
    .service-card{
        height: 275px;
        width: 260px;
    }
    .Head h1{
        font-size: 2rem;
    }
    .Head h4{
        font-size: 13px;
    }
    .isoBen h2 {
        font-size: 23px;
        padding: 22px 0px 13px 15px;
    }

    #iso-service-section {
        padding: 0;
    }
    .magmaInfoCard{
        width: 270px;
        margin: 10px 0;
        font-size: 17px;
    }
    .magmaResultCard{
        margin: 8px 0px;
        width: 100%;
    }
    .creoVideo video{
        width: 100%;
        margin-left: 5px;
    }
    .creoVideo{
        width: 350px;
    }
   .f-23{
       font-size: 23px;
   }
}

@media (max-width:304px){
    .isoImg{
        height: 163px;
    }
}

@media (max-width:350px){
    .creoVideo{
        width: 278px;
    }
}
@media (max-width:450px){
    .typediv{
        font-size: 12px;
    }
    .typebox h2{
        font-size: 15px;
        padding-left: 20px;
        margin-bottom: 5px;
        padding-right: 20px;

    }
    .magmaInfo{
        margin-top: 3rem;
    }
}
